.property-list {
  background: #fefefe;
  margin-bottom: 10px;
  min-height: 300px;
  box-shadow: 0 0 2px #0001;
  padding: 20px;
  border-radius: 5px;
  color: #444444;

  &:hover {
    box-shadow: 0 0 10px #0002;
  }

  .property-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }

  .description {
    font-size: 18px;
  }

  .area {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 15px;
  }

  .info {
    margin-bottom: 15px;
    .main {
      font-size: 20px;
      font-weight: bold;
    }
    .sub {
      font-size: 12px;
    }
  }

  .post-info {
    margin-bottom: 5px;
    font-size: 15px;
  }

  .footer {
    .posted-by {
      font-size: 12px;
    }

    .posted-user {
      font-size: 18px;
    font-weight: bold;
    }
  }

}